@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;
@use '../../styles/global' as *;

.riseup-logo,
.riseup-logo-2,
.riseup-logo-3,
.riseup-logo-4 {
  position: absolute;
  bottom: -2rem;
  right: 3rem;
  width: 45vw;
  max-width: 26rem;
  z-index: 1;

  @include desktop {
    bottom: 0rem;
    scale: 0.75;
    left: 0rem;
    transform: translate(145%, 45%);
  }
}

.riseup-logo {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}

// .riseup-logo-2 {
//   -webkit-filter: drop-shadow(1.5px 1.5px 0 $white-dark);
//   filter: drop-shadow(1.5px 1.5px 0 $white-dark);
// }

// .riseup-logo-3 {
//   -webkit-filter: drop-shadow(0 0 0.125rem $white-dark);
//   filter: drop-shadow(0 0 0.125rem $white-dark);
// }

.riseup-logo-4 {
  -webkit-filter: drop-shadow(0 0 0.05rem $black-dark);
  filter: drop-shadow(0 0 0.05rem $black-dark);
}
