@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;
@use '../../styles/global' as *;

.menu {
  margin: 0 0.5rem;
  padding: 0.5rem;
  container-type: inline-size;

  &__item-container {
    border-bottom: $red-dark solid 0.25rem;

    @include tablet {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 0.5rem;
    }
  }

  &__title {
    color: $yellow-light;
    text-shadow: $multi-color-shadow;
  }

  &__subtitle {
    font-size: $font-size-medium;
    color: $black-dark;
    text-shadow: $multi-color-shadow;
    filter: drop-shadow(0px 1px 5px $white-dark)
      drop-shadow(-1px -1px 5px $white-dark);
    @include tablet {
      text-align: left;
    }
  }

  &__category {
    border-top: $yellow-light solid 0.25rem;
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 0.5rem;
    // still unsure if I want to make each category box-shadowed so leaving in
    // box-shadow: $yellow-dark 0.0625rem 0.0625rem 0.2rem;

    @include tablet {
      text-align: left;
      display: flex;
      flex-direction: column;
      width: 48%;
      flex-grow: 1;
      margin-bottom: 0;
    }

    @include desktop {
      width: 30%;
      padding-bottom: 0.5rem;
    }
  }

  &__item-header-container {
    @include tablet {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 4rem;
    }

    @include desktop {
      justify-content: space-between;
      line-height: 2rem;
      order: 0;
    }
  }

  &__image {
    width: 70%;
    max-width: 20rem;

    @include tablet {
      order: 2;
      align-self: center;
    }
  }

  &__item-title {
    color: $white-dark;
    font-weight: 700;
    letter-spacing: 0.125rem;
  }

  &__item-price {
    color: $white-dark;
    text-shadow: $multi-color-shadow;
  }

  &__item-description {
    color: $white-dark;
    text-shadow: black;
    line-height: normal;
  }

  &__item-disclaimer {
    color: $white-dark;
    font-size: 1rem;
    @include tablet {
      order: 3;
    }
  }
}
