@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;
@use '../../styles/global' as *;

.menu-buttons {
  &__container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    line-height: 1.25rem;

    @include tablet {
      gap: 3rem;
      flex-direction: row;
    }
  }

  &__button {
    background-color: $yellow-light;
    padding: 0.5rem;
    text-decoration: none;
    font-weight: bold;
    color: $red-light;
    border-radius: 0.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
    box-shadow: 0.05rem 0.05rem 0.1rem rgba($black-dark, 0.5);

    &:hover {
      cursor: pointer;
      background-color: $red-light;
      color: $yellow-light;
    }
  }

  &__icon {
    height: 3rem;
    width: auto;

    @include tablet {
      height: 5rem;
    }
  }
}
