@use '../../styles/mixins' as *;
@use '../../styles/variables' as *;
@use '../../styles/global' as *;

.catering {
  // background: linear-gradient($green-light, rgba($yellow-light, 0.85) 50%);

  padding: 2rem 0;
  display: flex;
  justify-content: center;

  &__title {
    letter-spacing: 0.125rem;
    font-size: $font-size-medium;
    font-weight: normal;
    text-shadow: $yellow-light 0.05rem 0.05rem 0.1rem;
    background-color: rgba($white-light, 0.5);
    width: fit-content;
    padding: 0 0.5rem;
    border-radius: 0.25rem;
    box-shadow: 0.05rem 0.05rem 0.1rem rgba($black-dark, 0.5);
  }
}
