@use './mixins.scss' as *;

$red-light: hsl(2, 67%, 42%);
$red-dark: hsl(2, 64%, 30%);

$yellow-light: hsl(48, 85%, 52%);
$yellow-dark: hsl(48, 59%, 41%);

$green-light: hsl(148, 77%, 29%);
$green-dark: hsl(148, 100%, 14%);

$black-light: hsl(0, 0%, 10%);
$black-dark: hsl(0, 0%, 4%);

$white-light: hsl(0, 0%, 100%);
$white-dark: hsl(0, 0%, 90%);

$multi-color-shadow: 0.05rem 0.05rem 0.1rem $black-light,
  0.1rem 0.1rem 0.05rem $red-light, 0.2rem 0.2rem 0.05em $green-light;

$carousel-image-width: 50vw;
$carousel-image-width-desktop: 25rem;

$carousel-loop-duration: 90s;

$section-padding-mobile: 2rem;
$section-padding-tablet: 4rem;

$font-size-extra-large: clamp(3rem, 12cqi, 6rem);
$font-size-large: clamp(2rem, 8cqi, 4rem);
$font-size-medium: clamp(1.625rem, 7cqi, 2.75rem);
$font-size-small: clamp(1.25rem, 6cqi, 2rem);
