@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;
@use '../../styles/global.scss' as *;

.tagline {
  &__text {
    padding: $section-padding-mobile 0;
    font-family: alumni-sans, 'Gill Sans', 'Gill Sans MT', Calibri,
      'Trebuchet MS', sans-serif;
    letter-spacing: 0.125rem;
    color: $yellow-light;
    text-shadow: $multi-color-shadow;

    @include tablet {
      padding: $section-padding-tablet 0;
    }
  }
}
