@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;
@use '../../styles/global.scss' as *;

.header {
  position: relative;
  letter-spacing: 0.125rem;
  background: linear-gradient(
    rgba($red-dark, 0.7) 10%,
    rgba($red-light, 0.7) 25%
  );

  &__text-container {
    background: linear-gradient(
      180deg,
      rgba($black-dark, 1),
      rgba($black-dark, 0)
    );
    padding: calc(1vw + 0.7rem);
    container-type: inline-size;

    @include tablet {
      position: relative;
      z-index: 1;
      padding: 1rem 4rem;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
    }
  }

  &__logo {
    -webkit-filter: drop-shadow(0 0 0.2rem $black-light);
    filter: drop-shadow(0 0 0.2rem $black-light);
    padding: 2rem 1rem 0;
    width: 60%;
    max-width: 20rem;

    @include tablet {
      padding: 0;
      margin-bottom: -8.5rem;
      width: auto;
    }
  }

  &__title {
    font-family: alumni-sans, 'Gill Sans', 'Gill Sans MT', Calibri;
    position: absolute;
    width: 100%;
    left: 0;
    color: $red-dark;
    z-index: -1;
    opacity: 0.025;

    @include tablet {
      top: 0;
      right: 0;
      left: auto;
      width: 50%;
    }
  }

  &__image {
    filter: brightness(80%);
    -webkit-filter: brightness(80%);
    width: 90%;
    max-height: 35rem;
    object-fit: cover;
    object-position: top;
  }

  &__details {
    color: $yellow-light;
    text-shadow: 0.05rem 0.05rem 0.1em $black-dark;
    text-align: center;
    margin: 0;
    letter-spacing: 0.1rem;
  }
}
