@use '../../styles/mixins' as *;
@use '../../styles/variables' as *;
@use '../../styles/global' as *;

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-image: linear-gradient(rgba($yellow-light, 0.7) 10%, $green-light);
  padding: 0 2rem;

  @include tablet {
    justify-content: space-between;
    gap: 1rem;
    padding: 0 4rem;
  }

  &__image {
    margin: 1rem;
    border: 0.5rem solid $white-light;
    border-image: linear-gradient(
        335deg,
        $red-light,
        $yellow-light,
        $green-light
      )
      1;
    width: 80vw;
    flex-grow: 1;

    @include tablet {
      width: 35vw;
    }

    @include desktop {
      width: 15vw;
    }
  }
}
