@use '../../styles/mixins' as *;
@use '../../styles/variables' as *;
@use '../../styles/global' as *;

// ======== GALLERY ========

.gallery {
  margin: 3rem;
  display: flex;
  flex-wrap: wrap;
  padding: 0 0.5rem;
  gap: 2rem;
  justify-content: center;

  @include tablet {
    justify-content: space-between;
    gap: 1rem;
  }

  &__image {
    border: 0.5rem solid $white-light;
    border-image: linear-gradient(
        335deg,
        $red-light,
        $yellow-light,
        $green-light
      )
      1;
    width: 80vw;
    flex-grow: 1;

    @include tablet {
      width: 35vw;
    }

    @include desktop {
      width: 15vw;
    }
  }
}
