@use '../../styles/mixins' as *;
@use '../../styles/variables' as *;
@use '../../styles/global' as *;

.image-carousel {
  max-width: 80rem;
  // overflow: hidden;
  //   background-image: url('../../assets/logo/riseup-logo-monochrome.png');
  background-image: url('../../assets/logo/riseup-logo-color.png');
  background-position: center;
  background-size: contain;

  &__container {
    display: flex;
    align-items: center;
    width: fit-content;
    max-width: 100vw;

    &--movement {
      // TWO LINES BELOW ARE FOR IF MOTIONS ARE ENABLED
      // overflow: hidden;
      animation: continuousScroll 90s linear infinite;
    }

    &--no-movement {
      // THREE LINES BELOW ADDED IF MOTIONS ARE DISABLED
      flex-wrap: wrap;
      justify-content: center;
      background-color: rgba($black-dark-rgb, 0.9);
    }
  }

  &__image {
    width: $carousel-image-width;
    border: 1rem solid rgba($green-dark-rgb, 0);

    @include tablet {
      border: 3rem solid rgba($green-dark-rgb, 0);
    }
  }
}

@keyframes continuousScroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-#{$carousel-image-width} * 8));
  }
}
