@use '../../styles/mixins' as *;
@use '../../styles/variables' as *;
@use '../../styles/global' as *;

.footer {
  color: white;
  padding: 1rem 2rem;

  &__details {
    font-size: clamp(1.25rem, 3vw, 1.5rem);
  }

  &__social {
    &-container {
      display: flex;
      justify-content: space-around;
      padding: 3rem 0;
    }

    &-link {
      transition: transform ease-in-out 0.125s;

      &:hover {
        transform: scale(1.1);
        cursor: pointer;
      }
    }
  }
}

.social-icon {
  height: 3rem;
  width: fit-content;
}
