@use '../../styles/mixins' as *;
@use '../../styles/variables' as *;
@use '../../styles/global' as *;

.footer {
  padding: $section-padding-mobile 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $black-dark;

  @include tablet {
    padding: $section-padding-tablet 2rem;
  }

  &__phrase {
    color: $yellow-light;
  }

  &__details {
    color: $green-light;
  }

  &__contact-link {
    color: $red-light;
    text-underline-offset: 0.2em;

    &:hover {
      cursor: pointer;
      // color: $red-dark;
      text-shadow: $green-dark 0 0 0.75rem;
    }
  }

  &__social {
    &-container {
      display: flex;
      padding: $section-padding-mobile 0;
      max-width: 32rem;

      @include tablet {
        padding: $section-padding-tablet 0;
      }
    }

    &-link {
      transition: transform ease-in-out 0.125s;

      &:hover {
        transform: scale(1.1);
        cursor: pointer;
        filter: drop-shadow(0 0 0.75rem $yellow-dark);
      }
    }
  }
}

.social-icon {
  height: 3rem;
  width: auto;
  padding: 0 1rem;
}
