@use './styles/variables.scss' as *;
@use './styles/mixins.scss' as *;
@use './styles/fonts.scss' as *;
@use './styles/global.scss' as *;

* {
  box-sizing: border-box;
}

html,
body,
#root,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

html {
  overflow-x: hidden;
}

:root {
  background-color: $black-dark;
  font-family: quicksand, Avenir, Helvetica, sans-serif;
  line-height: 1.5;
  text-align: center;
  margin: 0 auto;
  max-width: 80rem;
  overflow-x: hidden;
}

body {
  background: linear-gradient(
    rgba($red-dark, 0.7) 10%,
    rgba($red-light, 0.7) 25%,
    rgba($yellow-light, 0.7) 30%,
    rgba($yellow-dark, 0.7) 45%,
    rgba($green-light, 0.7) 50%,
    rgba($green-dark, 0.7) 65%,
    rgba($black-dark, 0.7) 95%
  );
}

h1 {
  font-size: $font-size-large;
}

h2 {
  font-size: $font-size-extra-large;
}

h3 {
  font-size: $font-size-small;
}
h4 {
  font-size: $font-size-medium;
  font-weight: normal;
}

h4,
h5,
h6,
p {
  font-family: alumni-sans, Avenir, Helvetica, sans-serif;
}

p {
  font-size: $font-size-small;
  letter-spacing: 1px;
}
